

/* input[type=text],input[type=password]{

  width: 800px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid ccc;
  box-sizing: border-box;
 
} */

/* 
.modal-content{
  background-color: rgb(223, 47, 76);
  margin: 5% auto 15% auto;
  border: 1px solid grey;
  width: 900px;
  height: 500px;

}
.container{
  padding: 16px;
}

.form-design {
background-color: aqua;
width: 200px;
height: 100px;
border-radius: 10px;
} */
p{
  font-style: bold;
 color:navy;
 font-size: larger;
}