table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid black;
  padding: 4px;
  font-size: 14px; 
  text-align: center; 
  width: 10px;
}

h2 {
  margin-bottom: 16px; 
  font-size: 50px;
}

thead {
  background-color: rgb(177, 10, 46); 
}

p{
  font-size: 20px;
  color: black;
}

.affordable-highlight {
 background-color: skyblue;
 color: black;
}